@import "tailwindcss";

:root {
  --background-color: #f4f7f9;  /* Gris claro para el fondo */
  --card-background: #ffffff;    /* Blanco para las tarjetas */
  --primary-color: #4f46e5;      /* Tu morado/azul oficial */
  --primary-hover-color: #4338ca;/* Color al pasar el mouse */
  --text-primary: #111827;       /* Negro suave */
  --text-secondary: #6b7280;     /* Texto secundario */
}


body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}