
@import "tailwindcss";

:root {
  
  --background-color: #f4f7f9;
  
  --card-background: #ffffff;
  
  --primary-color: #4f46e5;
  
  --primary-hover-color: #4338ca;
  
  --text-primary: #111827;
  --text-secondary: #6b7280;
}
body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}